aiofiles==22.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.10.3
anyio==3.6.2
asgiref==3.5.2
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
autopep8==2.0.0
azure-ai-formrecognizer==3.3.0b1
azure-common==1.1.28
azure-core==1.26.4
backoff==2.2.1
bleach==5.0.1
boilerpy3==1.0.6
canals==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-log==0.4.0
cloudpickle==2.2.1
colorama==0.4.6
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
databricks-cli==0.17.6
dataclasses==0.6
deprecation==2.1.0
dill==0.3.6
docarray==0.20.1
docker==6.0.1
docopt==0.6.2
docutils==0.19
dotty-dict==1.3.1
elasticsearch==7.17.9
entrypoints==0.4
et-xmlfile==1.1.0
Events==0.4
farm-haystack==1.15.1
fastapi==0.89.1
ffmpeg==1.4
filelock==3.9.0
Flask==2.2.2
flask-sock==0.6.0
fonttools==4.38.0
frozenlist==1.3.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.30
gotrue==0.5.4
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==6.0.0
inflect==6.0.4
invoke==1.7.3
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jarowinkler==1.2.3
jina-hubble-sdk==0.30.4
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keyring==23.13.1
kiwisolver==1.4.4
langdetect==1.0.9
llvmlite==0.39.1
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.3
mlflow==2.2.2
mmh3==3.1.0
monotonic==1.6
more-itertools==9.0.0
mpmath==1.2.1
msrest==0.7.1
multidict==6.0.4
networkx==3.0rc1
nltk==3.8.1
num2words==0.5.12
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.2
openpyxl==3.0.10
packaging==23.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
pathspec==0.10.3
Pillow==9.4.0
pkginfo==1.9.6
postgrest-py==0.10.3
posthog==2.4.0
protobuf==3.20.2
psycopg2-binary==2.9.5
pyarrow==11.0.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.4
pydub==0.25.1
pydub-ffmpeg-wav==0.23.0
Pygments==2.14.0
PyJWT==2.6.0
pyngrok==5.2.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-gitlab==3.12.0
python-semantic-release==7.32.1
pytz==2022.6
PyYAML==6.0
quantulum3==0.8.1
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
readme-renderer==37.3
realtime==0.0.5
redis==4.4.2
regex==2022.10.31
requests==2.29.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retry-redis==1.3.1
rfc3986==1.5.0
rich==13.0.1
scikit-learn==1.2.0
scipy==1.10.0
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
shap==0.41.0
simple-websocket==0.10.0
six==1.16.0
sklearn==0.0.post1
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
SQLAlchemy==2.0.9
sqlparse==0.4.3
srt==3.5.3
sseclient-py==1.7.2
starlette==0.22.0
storage3==0.3.6
supabase==0.7.1
supafunc==0.2.2
sympy==1.11.1
tabulate==0.9.0
tenacity==8.1.0
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.3.3
tokenizers==0.13.2
tomli==2.0.1
tomlkit==0.11.6
torch==2.0.0.dev20221213
torchaudio==0.14.0.dev20221213
torchvision==0.15.0.dev20221213
tqdm==4.64.1
transformers==4.25.1
twilio==8.1.0
twine==3.8.0
types-pytz==2022.6.0.1
typing_extensions==4.4.0
urllib3==1.26.15
uvicorn==0.20.0
vosk==0.3.44
Wave==0.0.2
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
wsproto==1.2.0
yarl==1.8.2
zipp==3.11.0
zope.event==4.6
zope.interface==6.0
